
*.json
Luna_Obf.exe
test/auth.txt
.gitignore
test/BetaHotfixV2.txt
test/beta.txt
test/compile args.txt
test/mytoken.txt
.gitignore
test/Nonbeta.txt
.gitignore
test/Themes.txt
test/Nontheme.txt
mytoken.txt
__pycache__/main.cpython-38.pyc
.gitignore
__pycache__/main.cpython-38.pyc
__pycache__/obf.cpython-38.pyc
