aiohttp==3.7.4.post0
altgraph==0.17.2
anyio==3.4.0
art==5.3
async-generator==1.10
async-timeout==3.0.1
attrs==21.2.0
Automat==20.2.0
beautifulsoup4==4.10.0
bitly-api-py3==0.3
bitstring==3.1.9
Brotli==1.0.9
bs4==0.0.1
cached-property==1.5.2
certifi==2021.5.30
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.6
click==8.0.3
colorama==0.4.4
colour==0.1.5
configparser==5.1.0
constantly==15.1.0
crayons==0.4.0
cryptography==36.0.0
Deprecated==1.2.13
dhooks==1.1.4
discord.py-self==1.9.2
discum==1.1.0
dnspython==2.0.0
ecdsa==0.17.0
filetype==1.0.9
fusionauth-client==1.30.0
future==0.18.2
gmail==0.6.3
gTTS==2.2.3
h11==0.12.0
httpcore==0.14.3
httpx==0.21.1
httpx-socks==0.7.2
hyperlink==21.0.0
idna==3.2
importlib-metadata==4.8.1
incremental==21.3.0
install==1.3.4
ipapi==1.0.4
ipwhois==1.2.0
javascript==1!0.2.12
keyring==23.2.1
licensing==0.32
mcpi==1.2.1
minecraft-launcher-lib==4.1
MouseInfo==0.1.3
multidict==5.1.0
mysql-connector-python==8.0.27
notifypy==1.0.3.0
numpy==1.21.4
outcome==1.1.0
pandas==1.3.4
Pastebin==1.1.2
pefile==2021.9.3
Pillow==8.3.2
playsound==1.3.0
prettytable==2.2.1
protobuf==3.18.1
psutil==5.8.0
pwinput==1.0.2
pyarmor==6.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycparser==2.21
pycryptodome==3.11.0
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyimgur==0.6.0
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyJWT==2.3.0
PyMsgBox==1.0.9
pynput==1.7.5
pyOpenSSL==21.0.0
pyparsing==3.0.6
pyperclip==1.8.2
pypiwin32==223
pypresence==4.2.1
pyPrivnote==0.0.1a1
PyRect==0.1.4
PyScreeze==0.1.28
pystyle==1.7
python-dateutil==2.8.2
python-jose==3.3.0
python-keycloak==0.26.1
python-socks==2.0.0
pytube==11.0.1
pytweening==1.0.4
pytz==2021.3
pywin32==301
pywin32-ctypes==0.2.0
qrcode==7.3.1
quarry==1.7.0
rainbowtext==1.0.3
random-user-agent==1.0.1
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
scapy==2.4.5
selenium==4.1.0
service-identity==21.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.2.1
trio==0.19.0
trio-websocket==0.9.2
twilio==7.4.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
TwoCaptcha==0.0.1
typing-extensions==3.10.0.2
ua-parser==0.10.0
urllib3==1.26.7
wcwidth==0.2.5
webdriver-manager==3.5.2
websocket-client==1.2.3
win10toast==0.9
wrapt==1.12.1
wsproto==1.0.0
yarl==1.6.3
zipp==3.6.0
zope.interface==5.4.0
